HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
 
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
 
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
 
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
 
### VS Code ###
.vscode/
 
 
### Eclipse ###
.classpath
.project
.settings/
.idea/
*.iml
 
### Maven ###
target/
pom.xml.tag
pom.xml.versions
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
/mvnw
/mvnw.cmd
 
### Gradle ###
.gradle/
build/
 
### Java ###
*.class
 
### Logs ###
*.log
 
### Spring Boot ###
/logs/
/temp/
**/target/
**/bin/
 
### Project Specific ###
src/main/resources/application-local.properties
src/main/resources/application-local.yml
*.jks
*.p12
 
### OS-specific ###
.DS_Store
Thumbs.db